[2021-02-23 01:43] OR13 opened #6 "abstract minimal cipher / did-key-cipher from did-key repo"
https://github.com/transmute-industries/did-key.js/tree/master/packages/did-key-cipher

These kinds of linked data crypto libraries belong here, not in did key repo.

[2021-02-23 01:47] OR13 opened #7 "abstract linked data key pair classes"
We need to implement the interfaces for minimal cipher / linked data proof suite keys...

sign, verify, derive, toKeyPair, toJsonWebKey, etc...

[2021-02-23 01:49] OR13 opened #8 "move linked data proofs and suites here"
https://github.com/transmute-industries/vc.js/tree/master/packages

vc js should only be about VCs, not linked data proofs and jsonld-signatures suites...

[2021-04-02 14:17] OR13 opened #27 "Investigate plugin / bundle size visualization and reporting CI tooling"
https://github.com/btd/rollup-plugin-visualizer

[2021-04-07 19:35] OR13 opened #31 "DID v1 context is stale"

[2021-04-07 22:36] OR13 opened #32 "update suite contexts"
[code]

for JWS and PGP

[2021-04-14 19:01] #31 closed

[2021-04-15 17:20] OR13 opened #39 "Intent to Sell VC"

[2021-04-15 18:14] #39 closed

[2021-04-21 22:41] OR13 opened #44 "Explore adding typescript support to JSON-LD Schema module"
https://www.npmjs.com/package/json-schema-to-ts

[2021-04-28 20:59] OR13 opened #46 "Make documentLoader configurable for fastify universal wallet plugin"
Plugin users should be able to provide their own document loader.... "allowNetwork" style configuration will lead to more sadness than its worth.

[2021-06-06 16:49] OR13 opened #56 "Update LDKeyPair.generate interface"
See proposal here: https://github.com/transmute-industries/did-key.js/issues/87#issuecomment-855427772

[2021-06-06 16:50] OR13 commented on #46
This is done

[2021-06-06 16:50] #46 closed

[2021-06-06 16:50] OR13 commented on #32
This is done.

[2021-06-06 16:50] #32 closed

[2021-06-06 16:51] OR13 opened #57 "Move pgp key 2021 here"
https://github.com/OR13/lds-pgp2021

https://ns.did.ai/suites/pgp-2021/

[2021-06-06 16:53] OR13 commented on #7
This is almost done, remaining work:

- [ ] PGP KeyPair migration
- [ ] ld-key-pair updates

[2021-06-06 16:54] OR13 commented on #6
I am going to call with done, its now part of https://github.com/transmute-industries/verifiable-data/tree/main/packages/jose-ld

[2021-06-06 16:54] #6 closed

[2021-06-06 17:05] OR13 opened #58 "Fix did:key dependencies"
Refactor key pair classes:

- [x] secp256k1
- [x] ed25519
- [x] x25519
- [x] bls12381
- [ ] p256
- [ ] p384
- [ ] p521

Refactor did-key-common:

- [ ] generalize resolution for content types
- [ ] ensure ld-key-pair-class conformance

Refactor did-key.js :

- [ ] include all key pair classes
- [ ] add support for dereferencing

[2021-07-15 17:13] brianorwhatever opened #70 "X25519 in JsonWebKey?"
Hey @OR13 is there a reason that OKP / X25519 is not supported by this lib or is it just not in there yet? If it's the latter I can attempt a PR
https://github.com/transmute-industries/verifiable-data/blob/577fd3663858ac6ac3f4b4091e10246fead7a4bb/packages/json-web-signature/src/JsonWebKey.ts#L23

[2021-07-15 20:19] brianorwhatever commented on #70
I'm guessing we'll also need to add 'ECDH-ES+A256KW' to https://github.com/transmute-industries/verifiable-data/blob/main/packages/jose-ld/src/types/JWA_ALG.ts

[2021-07-15 20:43] brianorwhatever commented on #70
I see now that x25519 isn't meant for signatures and only encryption? 😅
It does seem like it should be added to `JsonWebKey` though so that we can use this fine library for didcomm encryption. Let me know how you think I should proceed

[2021-07-16 19:07] brianorwhatever commented on #70
I believe this isn't a well formed `JsonWebKey2020` as it doesn't have a `publicKeyJwk` :)
https://github.com/transmute-industries/verifiable-data/blob/577fd3663858ac6ac3f4b4091e10246fead7a4bb/packages/x25519-key-pair/src/X25519KeyPair.ts#L21

[2021-07-20 13:51] OR13 commented on #70
I think you are looking for something like this:
 https://github.com/transmute-industries/verifiable-data/blob/main/packages/jose-ld/src/__tests__/JWE.x25519.ECDH-ES.test.ts

 We use this for our universal wallet import / export format... and there is a reported bug in the latest version I have not gotten around to fixing:

 https://github.com/transmute-industries/verifiable-data/pull/66

[2021-07-20 13:55] OR13 commented on #70
@brianorwhatever I am reading this as a feature request for adding X25519 support for JsonWebKey... we already support similar functionality for NIST curves here: https://github.com/transmute-industries/verifiable-data/blob/main/packages/jose-ld/src/__tests__/JWE.p384.ECDH-ES.test.ts

it wouldn't be that much extra work to wrap X25519KeyPair in the same way we are wrapping WebCryptoKeyPair.

[2021-07-20 17:22] brianorwhatever commented on #70
The JWE.x25519.ECDH-ES is exactly what I am looking for not sure how I missed it last week. Thanks for deciphering my nonsense 😄

[2021-07-20 18:59] OR13 commented on #70
@brianorwhatever I am nervous about our implementation of it.... I really prefer to compare cross implementation tests for these kinds of things... particularly with https://www.npmjs.com/package/jose

[2021-07-20 19:56] OR13 commented on #70
Also related tests: https://github.com/transmute-industries/did-key.js/blob/main/packages/did-key-x25519/src/__tests__/jose.test.ts

[2021-07-22 22:08] brianorwhatever commented on #70
So adding something like this was along the lines of where I was going before I realized that it doesn't really make sense in a json-web-signatures package.. approaches I can think of:
1. move JsonWebKey class into a new json-web-key package
2. yolo it into the json-web-signatures package
3. add it into the web-crypto-key-pair package here https://github.com/transmute-industries/verifiable-data/bl

[2021-07-26 12:53] lemoustachiste opened #73 "Error: 'staticImplements' is not exported by node_modules/@transmute/ld-key-pair/dist/index.js"
Hi,

I am implementing some did verification process in a library that runs both in the browser and on node. One of the dependencies (I believe it would be @transmute/did-key-secp256k1) relies on this library.

When I am bundling with rollup, I get the following error:

[code]

indeed the entry file looks like this:
[code]

And it does not seem rollup is capable of interpreting this dynamic import

[2021-07-26 13:02] lemoustachiste commented on #73
Would this achieve the same desired behavior on your part? https://nodejs.org/api/packages.html#packages_conditional_exports

[2021-07-26 17:41] OR13 commented on #70
yeah, I agree leaning towards 3... the main reason I didn't do that upfront was (hopelessly) dreaming of a zero dependencies key representation that used `window.crypto.subtle` when available... but that would never support Ed25519 / X25519 / Secp256k1 / Bls12381.... that seems like a good enough reason to add support for them, and drop the 0 dependency dream.

[2021-07-31 10:48] thomas-tran opened #74 "The property "created" in the input was not defined in the context."
I tried to run the following code for the universal wallet vc plugin and got the error below. Does anyone know why it happened?
https://github.com/transmute-industries/verifiable-data/tree/main/packages/universal-wallet-vc-plugin/src/__tests__/JsonWebSignature2020
`
const vc = await plugin.issue({
        credential: { ...credential, issuer: key.controller },
        options: {
          suite,

[2021-08-02 17:27] rado0x54 opened #75 "Broken dependency in ed25519-signature-2018"
`"@transmute/credentials-context": "^0.7.0-unstable.6"` should be a dependency and **not** a devDependency of `@transmute/ed25519-signature-2018"`

[code]
when only using `"@transmute/ed25519-signature-2018": "^0.7.0-unstable.6",` in package.json.

[2021-08-16 05:43] thomas-tran commented on #74
@OR13 I tried to use the latest package but this issue is still available. Do you have any idea why it did not work?
0.7.0-unstable.7

`
import * as Factory from 'factory.ts';
import * as Vc from '@transmute/universal-wallet-vc-plugin';
import key0 from './key-0.json';
import credential from './credential.json';

import { documentLoader } from './documentLoader';
import { Wallet, walletFactory, wa

[2021-08-16 15:21] OR13 commented on #74
its possible that the universal wallet is pinned to older versions, that have a bug.

sorry for the late reply, hav you tried the latest version?

[2021-08-16 22:18] thomas-tran commented on #74
Hi @OR13 I used the latest wallet and it did not work. Here is the example

https://codesandbox.io/s/sparkling-field-emgbw

[2021-08-16 23:07] OR13 commented on #74
@thomas-tran thanks for reporting this!

[2021-09-08 23:41] thomas-tran opened #78 "Should we include the DIDComm and DIDAuthentication in this packages?"
@OR13 Should we include the DIDComm and DIDAuthentication in this project? What's the best method for authentication e.g. DidAuth or Did Siop?

[2021-09-22 12:36] thomas-tran opened #81 "How to extract the issuer from the credential?"
How to extract the issuer from the credential and verify the issuer did against the ledger e.g. if the issuer using did element before verify the credential itself.

[2021-10-02 00:35] thomas-tran opened #82 "Any test case for VP Auth?"
@OR13 Do you have any test case or instruction for the passwordless authentication using VP exchange?

[2021-10-04 14:57] OR13 commented on #82
hmm, there is not currently a good "standard" for that.

See also:

- https://w3c-ccg.github.io/vp-request-spec/
- https://github.com/decentralized-identity/waci-presentation-exchange

(OIDC SIOP also)...

The naive solution is:

1. holder claims to be  identifier
2. verifier challenges holder with randomness
3. holder presents VP with no credentials over the challenge.

[code]

[2021-10-18 04:18] thomas-tran opened #84 "Do you have an example of document loader for microsoft ion or element?"
Hi @OR13 , do you have an example of document loader for Microsoft ion or element that using the verifiable credential?

[2021-10-18 16:29] OR13 commented on #84
I find its best to write the documentLoader from scratch and make sure it handles all contexts you care about with no network requests... and all did methods you care about with minimal networks requests to infrastructure you control.

here is an example:

https://github.com/decentralized-identity/JWS-Test-Suite/blob/main/implementations/transmute/services/documentLoader.js

If the did method is d

[2021-10-18 16:30] OR13 commented on #84
To answer your question directly... you can configure your documentLoader to use a any DID Method resolver you trust, including the universal resolver at DIF.

[2021-10-19 16:10] acarnagey opened #87 "Bbsbls signature 2020 presentation verify is failing"
https://github.com/transmute-industries/verifiable-data/blob/main/packages/universal-wallet-vc-plugin/src/__tests__/BbsBlsSignatureProof2020/BbsBlsSignatureProof2020.static.test.ts#L85

[2021-10-19 16:13] acarnagey opened #88 "JsonWebSig 2020 tests are failing"
https://github.com/transmute-industries/verifiable-data/blob/main/packages/universal-wallet-vc-plugin/src/__tests__/JsonWebSignature2020/JsonWebSignature2020.static.test.ts

[2021-10-20 14:53] OR13 opened #90 "Better interoperability tests with digitalbazaar"
Due to jest / esm module issues, we are having trouble testing things, and its leading to less tests.

We need to fix this issue by generating some test vectors from their libraries, and confirming support for them in ours.

We should treat digital bazaar libraries as the source of truth.

We should create a package in this repo which imports their libraries, and produces test vectors as a node mo

[2021-10-27 19:59] acarnagey opened #99 "Handling suite date variations differently than digital bazaar"
1. we don't convert to datetime xml format e.g. 2010-10-19T14:47:38-05:00 -> 2010-10-19T19:47:38Z, 2010-10-19T14:47:38.123Z -> 2010-10-19T14:47:38Z, currently it passes the incorrectly formatted date as is
2. we don't error on nonsense strings e.g. foobar -> error, currently it passes the nonsense string as is
3. we don't error on empty strings e.g. "" -> error, currently it gets set to current ti

[2021-10-29 19:35] acarnagey opened #102 "vc.js fails to verify a MTR credential"
On testing a MTR credential the library fails to expand the document on verification of the credential
[code]

[2021-11-03 16:55] OR13 commented on #102
@acarnagey don't forget to document the fix, link to commits / PRs and close this issue after that.

[2021-11-03 17:10] OR13 opened #108 "vc-api design and requirements"
### Abstract

We want a shared code base for implementing the [vc-api](https://github.com/w3c-ccg/vc-api) , using libraries in this repo.

We want this code base to expose a docker and bare metal api that can be configured to expose cryptographic capabilities in an extensible manner, such that a standard build process can deploy a secured instance of the api that is unique per vendor (no key or au

[2021-11-04 04:50] thomas-tran commented on #99
@OR13 I used the following date when create a credential
const now = new Date();
const issuanceDate = now.toISOString();

Warning occurred
issuanceDate is not valid: [
      "2021-11-04T04:39:10.691Z is not a W3C Date Time.",
      "2021-11-04T04:39:10.691Z could not be converted to unix timestamp and back."
    ]

[2021-11-04 10:25] thomas-tran opened #109 "Unable to create credential with context https://schema.org"
When I added the https://schema.org to the credential context. The following error occurred
  "type": "jsonld.InvalidUrl",
      "details": "Dereferencing a URL did not result in a valid JSON-LD object. Possible causes are an inaccessible URL perhaps due to a same-origin policy (ensure the server uses CORS if you are using client-side JavaScript), too many redirects, a non-JSON response, or more t

[2021-11-04 14:58] OR13 commented on #109
See https://webmasters.stackexchange.com/questions/123409/how-can-http-schema-org-be-used-in-json-lds-context-even-though-its-not-a

and https://schema.org/docs/developers.html

However, you should not be downloading the entire schema.org context via a document loader that makes network requests, and you should not be bundling the entire schema.org vocabulary into you application.
instead, you sho

[2021-11-05 20:44] acarnagey commented on #102
Linked the PR, the fix was to use the same defaults that Digital Bazaar uses for vc-js.  To make the defaults the same in our vc.js package compactProof and expansionMap are defaulted to false in packages/linked-data-proof/src/ProofSet.ts verify()

[2021-11-05 20:44] #102 closed

[2021-11-05 21:43] acarnagey opened #112 "compactProof should NEVER be set to true"
When using the non default options for verifying a mill test report verifiable credential, specifically compactProof, results in a failure to verify.
compactProof: true with expansionMap: undefined or true results in the error `The property "grade" in the input was not defined in the context.`
compactProof: true with expansionMap: false results in an `invalid signature`.  All other expansionMap an

[2021-11-06 12:20] thomas-tran commented on #109
Thanks

[2021-11-06 12:20] #109 closed

[2021-11-06 12:52] thomas-tran opened #114 "Credential issuer must match the verification method controller"
Hi @OR13,

I tried to create signing key and passed to sidetree element did method to generate the did e.g.

did:elem:ganache:EiD351yY0XqnbCJN2MaZSQJMgG-bqmgFMDRGKawfu6_mZA

I used the same key to create the credential with the result

[code]
However, during the verification, there was an error: Credential issuer must match the verification method controller.

The documentLoader can resolve the di

[2021-11-06 15:31] OR13 commented on #112
The issue was caused by setting compactProof to true, it should NEVER be set to true.

Preprocessing the JSON differently will break the signature, as expected.

TLDR never set compactProof to true.

[2021-11-06 15:44] OR13 commented on #84
@thomas-tran if you are trying to use these libraries with ION, you may find this PR helpful: https://github.com/transmute-industries/verifiable-data/pull/115

Closing this issue, but always feel free to open other issues for any new questions.

[2021-11-06 15:44] #84 closed

[2021-11-06 19:39] OR13 commented on #114
`did:elem:ganache:EiD351yY0XqnbCJN2MaZSQJMgG-bqmgFMDRGKawfu6_mZA` != `did:key:z6MkokrsVo8DbGDsnMAjnoHhJotMbDZiHfvxM4j65d8prXUr`

[2021-11-08 14:49] OR13 opened #116 "VC-JWT signatures are bugged"
Recent changes appear to have encoded the JWT signature as a JWT with detached payload...

The JOSE package on npm should be used to create a series of JWT test vectors and their interop with our libraries here should be confirmed.

[2021-11-08 15:09] OR13 commented on #112
I think we want to basically warn and test this behavior, (compactProof configuration), but not remove it... although I could probably be convinced to remove it...

[2021-11-08 15:50] acarnagey commented on #112
I am leaning towards removing the compactProof option entirely.  Since we are using digital bazaar as our source and since they have removed this option entirely, it is not needed.  If we keep this option but do not use it, it can be confusing to a developer as to why this option is there if not used, we should remove unneeded code to make the code easier to understand basically.

[2021-11-10 06:09] #114 closed

[2021-11-15 18:36] OR13 commented on #99
yes, see https://github.com/w3c/vc-data-model/issues/782

The newest version of the spec addresses these warnings, and we will remove them from our codebase when its fully published... which looks like it happened already: https://w3c.github.io/vc-data-model/#issuance-date

beware that some libraries play games with these dates... we're adding lots of date related tests in order to hopefully remov

[2021-11-15 22:15] OR13 opened #120 "Fix Error Serialization so its safe to stringify errors"
Seeing a lot of errors related to stringify and errors thrown by linked data libraries, for example:
https://github.com/decentralized-identity/JWS-Test-Suite/pull/29/files

We should ensure that all errors can be serialized by stringify safely.

[2021-11-15 22:18] OR13 commented on #116
I fixed this is the linked PR.

[2021-11-15 22:18] #116 closed

[2021-11-15 23:09] thomas-tran opened #121 "What's the presentation exchange specification using in this project?"
Hi @OR13 ,

I noticed that there are 2 standards below. Which one is using on this project?
https://identity.foundation/presentation-exchange/ and https://identity.foundation/waci-presentation-exchange/

Do you have a complete example how to create the presentation definition as I can only see the example how to create the presentation credential?

Thanks
Thomas

[2021-11-15 23:11] OR13 commented on #121
We don't have one in this repo... @brianorwhatever have a better source?

[2021-11-16 05:46] brianorwhatever commented on #121
The code isn't too clean but this is the project we were hacking together to create wacinstein https://github.com/aviarytech/wacinsteins-monster

you can see the presentation entity structures here https://github.com/aviarytech/wacinsteins-monster/blob/main/backend/src/presentations/entities/presentation.entity.ts

and them being created in this service https://github.com/aviarytech/wacinsteins-mo

[2021-11-16 06:19] thomas-tran commented on #121
Thanks for the instruction, I looked at the code and it seems the presentation entity did not match the schema here https://identity.foundation/presentation-exchange/#term:presentation-definition. For example, in the input descriptor the purpose, format, group and name are missing and the schema field is required which I did not see the explanation from document.  Do you have a test example on the

[2021-11-16 18:14] clehner opened #123 "VC JWT Subject claim"
JWT Verifiable Credential output in JWS-Test-Suite in some cases has claim `"sub":{}`:
https://github.com/decentralized-identity/JWS-Test-Suite/blob/5084057e83142f17a7656ca8f9d439eea97f08d3/implementations/transmute/credential-0--key-0-ed25519.vc-jwt.json (Edit: or a non-empty object for `sub`: https://github.com/decentralized-identity/JWS-Test-Suite/issues/54#issuecomment-1139826355)
This appears

[2021-11-16 18:30] OR13 commented on #123
This is caused by our attempt at handling the issue discussed here: https://github.com/w3c/vc-data-model/pull/828#discussion_r749558939

The problem is "how to map a JSON-LD VC to a JWT payload"... its a stupidly simply problem, that should be addressed via normative text in the next spec or VC-JWT should be removed from the next vc data model spec.

For now, we probably need to be smart about get

[2021-11-16 18:48] brianorwhatever commented on #121
ah yes I see that you are definitely right. apologies this was pretty hacked together code and not tested well. I have moved onto other things now and put this proof of concept down for the time being. I am planning on validating against the json schema from the waci-pex spec here https://identity.foundation/waci-presentation-exchange/#presentation-exchange-context. That would have caught the miss

[2021-11-17 19:03] BenjaminMoe opened #124 "Invalid issuanceDate for credential does not throw error"
The following unsigned credential with an invalid `issuanceDate` is able to be signed.

[code]

Will be signed in the ED25519-Signature suite.

[code]

The expected behavior is to throw an error when a date is found that doesn't match the schema.

[2021-11-17 19:12] OR13 commented on #124
Probably this is caused by consuming the `issuanceDate` directly, without first validating that it is a string that is also an XML Date Time.

[2021-11-17 19:12] OR13 commented on #124
I am also surprised this does not throw an error about "years" , "months"... not being defined in the context.

[2021-11-18 20:25] clehner commented on #123
Related: issue about string value for credentialSubject: https://github.com/w3c/vc-data-model/issues/762.

Also there is the case of an array credentialSubject (empty, single value, or multiple values).

[2021-11-22 09:41] vongohren commented on #75
Im hitting this aswell!

[2021-11-22 10:12] vongohren opened #125 "@transmute/ed25519-signature-2018 complains on wrong date when using toISOString"
The lib says that toISOString of new Date is wrong format, and It is because of the . fractions on the seconds that toISOString produces.

But according to the spec: https://www.w3.org/TR/xmlschema11-2/#nt-seFrag, that is a valid format?

And is not this the time format the verifiable credentials following?

It only seems to accepts this format "YYYY-MM-DDTHH:mm:ss[Z]"

Where the [Z] is just a str

[2021-11-23 11:55] vongohren opened #126 "Question: Since all default is JSONWebKey, its important to know the type of the original did key?"
When generating a key it is default type JSONWebKey2020, meaning that the type cannot declare what type this key should be converted to?

Either one have to use the did:key identifier in itself? Or stor on the side the intended type of the key?

Because a JWK for BLSG2 key cannot be created using from of a ED key right?

Just wanting to make sure I understand the logic 100% here

[2021-11-23 14:41] OR13 commented on #126
https://github.com/transmute-industries/verifiable-data/blob/main/packages/json-web-signature/src/__tests__/generate.test.ts

You should be able to  call `.export({ type: 'Ed25519VerifificationKey2018' })` on JsonWebKey's of that type.

[2021-11-24 09:28] vongohren commented on #125
Okok, so the warnings are nessecarily not right anymore? As this should allow timezone and fractions? Based on the dateTime? I might be able to do a PR but just need to confirm with you that it is allowed now

[2021-11-24 11:17] vongohren commented on #126
Yeah I know about the export. But you create a key, then export to another if need be right? Makes sense.

Just trying to understand what you guys do when you have created a key, and it has JSON structure and you store it in a KMS. It then belongs to a did, but the type itself is lost right? Because the JWK itself does not tell you what type of key was orignially created. If you store the JSONWebK

[2021-11-28 03:21] wgcv commented on #74
Any news? I can't reproduce the example of bbs-bls12381-signature-2020 with the same error

[2021-11-29 17:35] OR13 commented on #126
correct, but you can assume that IF it can be a JWK, it can be a `JsonWebKey2020`.... The other "linked data key types"... are not safe bets, there is no way to know if they wanted to store that key as "Ed25519VerificationKey2018"... and that key type is not a standard, nor is `publicKeyBase58`... This is very frustrating.

I would recommend NEVER using a key format other that JWK.

But if you hav

[2021-11-29 17:46] OR13 commented on #125
I think the warning are not needed any more, the spec now says "XML Date Time" which is a subset of ISO 8601... IMO, there should be no warnings when using strings that are valid XML Date Time s.

[2021-11-29 18:18] BenjaminMoe commented on #125
I think technically the standard allows for ISO strings. The main reason we're using XML date strings with no milliseconds is to maintain compatibility with Digital Bazaar, to produce the same exact output for a given input.

The test vectors are generated here: https://github.com/transmute-industries/verifiable-data/blob/main/packages/ed25519-signature-2018/scripts/digital-bazaar.date-fixture.js

[2021-11-30 14:28] vongohren commented on #125
@BenjaminMoe okok, but the XML standard: https://www.w3.org/TR/xmlschema-2/#dateTime allows for fractions, or miliseconds which you call them?

But DigitalBazar dont allow for that and why this warning was there intially?

So be xml dateTime compliant without fractions?

But digital bazar has fractions/milliseconds? https://github.com/transmute-industries/verifiable-data/blob/main/packages/ed25519

[2021-11-30 14:32] vongohren commented on #126
Interessting, thanks for this information! I will take it into consideration.
Currently it seems that storing JWK for us, we need to label it to be able to use/initiate the right suite.
But what you are saying is that, because we have the DID, we can basically deduct that from the resolved DID, IF that methods is preserving the public key and original type?

[2021-11-30 15:40] OR13 commented on #125
@vongohren the warning is there because the spec did not specify XML Date time originally.

The warning should be removed for any string fields that are valid XML Date Times... all XML Date Time are valid ISO8601 strings.

@BenjaminMoe is referring to the behavior... https://github.com/digitalbazaar/jsonld-signatures/blob/fe51dcfcd4567b364a99626cdbe2aa136aae0ab7/lib/util.js#L23

Which is questiona

[2021-11-30 23:14] acarnagey commented on #74
`@transmute/universal-wallet-vc-plugin` currently has a pinned version of `@transmute/vc.js` that is older that has this bug.  In the meantime you should be able to issue a credential by not using the wallet plugin and using vc.js directly with the most recent version.
[code]

[2021-12-01 09:24] vongohren commented on #125
@OR13 ah okok! So that line does look questionable and not updated with new spec no.

But I will see if I can get to this soon

[2021-12-02 15:20] #74 closed

[2021-12-06 15:46] vongohren opened #129 "Is this suppose to fail?"
I have a VC that is trying to stick to JSON LD structure, and should really fail accroding to: https://github.com/transmute-industries/verifiable-data/blob/main/packages/jsonld-schema/src/check/check.ts#L68

But this is not failing with the current library any idea why?
Im trying to understand how the context and the type stick together and help my code and me understand what to do.

[code]

[2021-12-06 15:53] OR13 commented on #129
@vongohren why do you think it should fail?

https://github.com/w3c-ccg/traceability-vocab/blob/gh-pages/contexts/traceability-v1.jsonld#L4

Trace Vocab now includes an `@vocab`... so that terms are given a "default context".

[2021-12-06 16:03] vongohren commented on #129
@OR13 I think this would fail because I set a context, then I set a type for this data, and theeen I try to input an attribute that is not part of that type nor really any of those contexts.

Should it not complain?

I did for some strange reason start getting many of these errors: https://github.com/transmute-industries/verifiable-data/blob/main/packages/jsonld-schema/src/check/check.ts#L70, so t

[2021-12-06 17:17] nissimsan commented on #129
Hey @vongohren,

You seem focused on the order. Order doesn't matter, `@vocab` catches everything undefined. As @OR13 points out, this comes at a price - flexibility vs. hard core semantic perfection - and was debated significantly at trace-vocab (the killer argument was security).

If the errors you got were a weeks ago, it sounds like that coincides with when the `@vocab` was merged. Your undefi

[2021-12-06 21:03] vongohren commented on #129
@nissimsan cool thanks for the pointers, I will try.
I got these errors today, but cached the vocab json for a while, and updated the cache today so maybe thats why.

@nissimsan you want to take a 15 minute talk since we are in the same timezone? If you want to help you  can find a slot here: https://calendly.com/snorre-diwala/30min. Its 30 min, but we use as short time as possible :)

Would be ve

[2021-12-07 15:10] vongohren commented on #129
I tried a bit around and found that yes, everything I send in is undefined term. The way you talked about it.
<img width="360" alt="Screenshot 2021-12-07 at 16 06 35" src="https://user-images.githubusercontent.com/1012055/145054263-83673f92-ebe9-407b-b4e3-ee0040ef5d0e.png">

But how do I target the ContactPoint email attrbitue then?  👇

<img width="1217" alt="Screenshot 2021-12-07 at 16 06 18" src

[2021-12-07 15:27] OR13 commented on #129
[code]

[code]

[2021-12-07 15:34] vongohren commented on #129
Ok cool, I could not see anywhere in the spec that it was OK to set type in the credentialSubject. Does this not make the initial suggestion of presentation exchange query, where one use the context and type invalid? Or does one have to search for type inside credential subject?

Or does the spec say both is allowed?

I tested out this:
[code]
<img width="542" alt="image" src="https://user-images.

[2021-12-07 15:39] OR13 commented on #129
@vongohren in the trace vocab, we are following the `type` convention, because it allows us to align JSON-LD with JSON Schema... in general, JSON-LD allows you to do the same thing many different ways.

[2021-12-07 16:14] vongohren commented on #129
@OR13 OKOK, starting to make a bit sense.
This example from the VC data model: https://www.w3.org/TR/vc-data-model/#example-a-json-ld-context
Works because it has flattly defined the two different attributes under and Extension12. And since there are no other parent parts, type under credential subject is not needed and it is valid?

And since tracebility defines sub nodes they have to explicitly

[2021-12-24 17:03] OR13 opened #130 "Cannot find module '@transmute/json-web-signature'"
[code]

Dependencies need to be fixed, can be reproduced by following readme instructions.

[2022-01-05 05:32] bishalkc opened #132 ""type": "MISSING_PROPERTIES_IN_CONTEXT","
I am trying to create a credential and getting `MISSING_PROPERTIES_IN_CONTEXT`, I have verified json-ld and seems to be valid. Can you please suggest what I am missing?

My VC
[code]

And the error

[code]

Thanks

[2022-01-05 16:22] OR13 commented on #132
Seems like the document loader you are using is not dereferencing `https://www.w3.org/2018/credentials/v1` correctly, here is your credential signed:

https://api.did.actor/v/eJylkVuXmjAUhf9L-qpCoqDyVO_F24y3cbSrD5AcNIqAJIA4y__egF2d9rVdKy_J2mefb-98oK80DCTcJLK-o6OUkbA0LcuyWlavhfFBIzpuaTQGBoHkji-0FKPKp7DOWSkTQJOYy1wTCZcgtFMmqkQneiH_UUGcIascUjNwcy6RDzVgyV_G9WadKGuZR1CwvEHMPe64PvR-i0orIRKIlR3jzDpDbt3N2

[2022-01-05 16:50] bishalkc commented on #132
Thank,

I had the wrong version.

Appreciate much

[2022-01-05 16:51] OR13 commented on #132
Closing this issue, but feel free to open more!

[2022-01-05 21:26] OR13 commented on #132
@bishalkc your document loader needs to be configured to resolve `did:key:`. (or any other did you choose to support).

Here is an example:

https://github.com/transmute-industries/api.did.actor/blob/main/core/documentLoader.ts#L18

Here is another example:

https://did.key.transmute.industries/did:key:z6Mkti5rMbb4W3FkHEyWd5pyRHDEeRKJ9BUL3jamQUvsQPbX

https://github.com/transmute-industries/did-ke

[2022-01-05 22:11] bishalkc commented on #132
It seems to be resolving
[code]

[code]

[2022-01-05 22:36] OR13 commented on #132
@bishalkc is your code published somewhere I can review?

The problem is likely in the document loader, see the samples here https://github.com/transmute-industries/verifiable-data/blob/main/packages/vc.js/src/__tests__/did-key/__fixtures__/documentLoader.ts

https://github.com/transmute-industries/verifiable-data/blob/main/packages/vc.js/src/__tests__/did-key/normal.test.ts

[2022-01-05 23:00] bishalkc commented on #132
Thanks I will look into.

Here is my baseline code https://github.com/bishalkc/verifiable-test

[2022-01-06 18:13] bishalkc commented on #132
@OR13 thanks really appreciate.

Now I am getting this while trying to verify the presentation

[code]

If i sing the vp with say issuer key its working fine but if i sign the vp with new setoff keys, I am getting above error.

any pointers and thanks for your direction so far.

[2022-01-06 18:15] OR13 commented on #132
@BenjaminMoe I think this is related to the error serialization which is tracked in another ticket.

@bishalkc you way get something better, by console logging without `JSON.stringify`... I think we have a bug to track fixing the circular reference that is implied by this error.

[2022-01-07 02:41] bishalkc commented on #132
I think I got this sorted, it was again documentLoader issue. Closing for now, will open again if I encounter another issue.

Thanks for all the help.

[2022-01-07 02:41] #132 closed

[2022-01-09 16:43] OR13 opened #135 "Adding new packages causes CI to fail"
https://github.com/transmute-industries/verifiable-data/pull/134

![Screen Shot 2022-01-09 at 10 42 15 AM](https://user-images.githubusercontent.com/8295856/148691821-3d0e8589-00cd-4edc-b39b-58c9c362c28b.png)

This is caused by trying to be too smart with lerna, the package does not exist on main... because we are trying to add it.

We can try to merge the PR and see if the error resolves, but thi

[2022-01-09 16:52] OR13 opened #136 "Update GitHub Pages Site for this Repo"
We are currently using it to sanity test web compatibility of modules.

We should keep doing that, but it would be nice to use the github and npm apis to try and pull together some usage metrics and transparency for the packages hosted here.

something like [this](https://npm-stat.com/charts.html?package=%40transmute%2Fvc.js&from=2021-01-20&to=2022-01-01)

[2022-01-16 20:54] OR13 opened #140 "JSON Web Signature Browser vs Node differences"
the module works in node, but fails in the browser.

It looks like the browser does not convert the public key to a buffer, but the node module does...

from the node module:

![Screen Shot 2022-01-16 at 2 53 25 PM](https://user-images.githubusercontent.com/8295856/149677654-a52f5ced-ab57-42a0-b7e7-35d7114cc930.png)

from the browser:

![Screen Shot 2022-01-16 at 2 54 16 PM](https://user-images.gi

[2022-01-16 20:55] OR13 commented on #140
![Screen Shot 2022-01-16 at 2 55 09 PM](https://user-images.githubusercontent.com/8295856/149677719-3d0832e4-4fb6-464c-8945-623f7ba87eaa.png)

[2022-01-16 20:57] OR13 commented on #140
the error is probably related to browser vs node differences between Buffer and Uint8Array... probably forgetting to case to Buffer somewhere.

[2022-01-17 13:31] BenjaminMoe commented on #140
Maybe we could use a shim to use the Buffer object in the browser to keep the code the same? https://github.com/feross/buffer

[2022-01-17 14:23] OR13 commented on #140
pretty sure the tsdx bundler handles that for us... but something is wrong here.

[2022-01-19 19:20] OR13 commented on #140
This issue was resolved by upgrading to latest versions: see https://github.com/transmute-industries/api.did.actor/commit/f5733650232abff247425e6157212e850c4d793d

[2022-01-19 19:21] #140 closed

[2022-01-19 19:26] OR13 commented on #140
Also note that there was proof this was working here: https://transmute-industries.github.io/verifiable-data/smoke-test-react/

[2022-01-19 19:26] OR13 commented on #136
Currently we don't even advertise that the smoke test is available for web packages, here https://transmute-industries.github.io/verifiable-data/smoke-test-react/

[2022-01-25 18:41] OR13 opened #147 "Interop tests for ZLIB / GZIP"
https://github.com/w3c-ccg/vc-status-list-2021/pull/15#discussion_r792015187

Need tests, and to confirm, idempotence, deterministic compression / expansion.

[2022-01-27 17:54] OR13 opened #149 "Pairing Friendly Curves and Signatures"
https://github.com/miracl/core/tree/master/javascript

https://github.com/paulmillr/noble-bls12-381

We probably ought to support vanilla signatures in the basic key pair classes.

While we wait for BBS+ to harden.

[2022-02-01 17:53] BenjaminMoe opened #150 "Upgrade our documentLoader behavior for DID URLs from resolvers to dereferencers"
Digital Bazaar changed their document loader from a resolver to a derferencers
This means to remain interopable, we need to change our document loaders to also implement this change
so that for the same input, we return the same document fragment

In terms of disambiguation, the difference between a resolver and a derferencer.
A resolver will load a document from a url, and return the entire docum

[2022-02-01 18:04] BenjaminMoe commented on #150
https://github.com/digitalbazaar/jsonld-signatures/issues/141

[2022-02-01 18:19] JaceHensley commented on #150
Related issue:
https://github.com/hellobloom/ssi-sdk/issues/31

[2022-02-02 08:43] vongohren opened #151 "Dependency not installed when installing vc.js"
Running the code with vc.js installed, it complains that jose is not found as a module.

So you might want to add it to the dependency tree and not as a dev dependency

[2022-02-02 15:55] BenjaminMoe commented on #151
Thanks for opening an issue.

https://github.com/transmute-industries/verifiable-data/blob/main/packages/vc.js/package.json#L46
I'll upgrade it and open a PR for it.

[2022-02-06 19:44] OR13 opened #159 "dilithium deterministic keys"
[code]

it would be nice to be able to pass a `secureRandom` function that we could link up to mnemonics or other dangerous sources of low entropy... for testing purposes.

[2022-02-22 13:22] AlexMesser commented on #75
same issue with `"@transmute/json-web-signature": "^0.7.0-unstable.50"`

[code]

[2022-02-25 14:42] BenjaminMoe commented on #151
Looks like there is another place where this is popping up.

![web-key](https://user-images.githubusercontent.com/86194145/155734420-f35e3e8a-2804-4bc8-8648-7ba89185f317.png)

[2022-02-25 21:33] decentralgabe opened #172 "npm install breaks on root"
steps to repo:
1. `git clone git@github.com:transmute-industries/verifiable-data.git`
2. `cd verifiable-data`
3. `npm i`

this error shows up. have tried 3x, same stuff.

[code]

Trying to resolve https://github.com/mattrglobal/node-bbs-signatures/releases/download/0.11.0/node-v102-darwin-arm64.tar.gz directly also returns a 404

[2022-02-25 21:35] OR13 commented on #172
hmm, I think we should start by bumping the versions of the mattr lib, and seeing if that resolves the issue.

[2022-02-25 21:42] OR13 commented on #172
I ran `npm i` without cloning and did not encounter this... I'll keep digging.

[2022-02-25 21:46] decentralgabe commented on #172
@OR13 I think it may be the specific version `node-v102-darwin-arm64.tar.gz` since I'm on an ARM Mac. I'm wondering if this just isn't supported by the library.

[2022-02-25 21:51] OR13 commented on #172
ohh....yeah... :(

[2022-02-25 21:51] OR13 commented on #172
I just cloned fresh, and so far, I have not seen this.

[2022-02-25 21:54] OR13 commented on #172
@decentralgabe you mind testing `npm i @mattrglobal/node-bbs-signatures` by itself? maybe report issue there and cross link.

[2022-02-25 21:55] OR13 commented on #172
also node version, you need to be node14 due to that library... its the main reason we still have node 14 recommendations at the top of this readme.

[2022-02-25 21:57] OR13 commented on #172
I'm

[code]

npm i from fresh clone worked for me.

[2022-02-25 22:06] OR13 commented on #172
See the warning at the top of our readme: https://github.com/transmute-industries/verifiable-data#node-verion

That said, I think we should probably try to matrix out support for more than just node14... even if we have to nerf some of the wasm based tests related to the mattr lib

[2022-02-25 22:44] OR13 opened #173 "Matrix node versions and wasm errors"
currently we are stuck on node14 because of static fixture issues with wasm and bls12381.

I suggest we skip all bls12381 tests that break, and bump ci to use matrix and support node 16.

[2022-02-25 22:53] decentralgabe commented on #172
same error with this command

[2022-02-25 22:53] decentralgabe commented on #172
ah I'm on 17.4, so I'll need to downgrade

[2022-02-25 22:55] decentralgabe commented on #172
https://github.com/mattrglobal/node-bbs-signatures/issues/182

[2022-03-05 19:16] OR13 opened #178 "Add tests proving issue, prove and verify work when holder is an object"
account for faker data like:

[code]

[2022-03-08 09:01] BenjaminMoe commented on #151
I think this has been addressed with PR: https://github.com/transmute-industries/verifiable-data/pull/175. Looks like the `jose-ld` module was missing a dependency, so this was coming up for packages that included it.

[2022-03-08 09:01] #151 closed

[2022-03-10 18:56] OR13 opened #180 "Recommendation for Stateful Hash-Based Signature Schemes"
- https://nvlpubs.nist.gov/nistpubs/SpecialPublications/NIST.SP.800-208.pdf

- https://github.com/danielhavir/go-xmss  <- wasm works

- https://github.com/XMSS/xmss-reference

[2022-03-11 20:01] BenjaminMoe opened #181 "Verifiable Presentation `holder` is not being treated as optional"
We need to make sure that verifiable presentations are handled correctly with vc.js. Right now `holder` is being treated as a required element, when it's optional.

From: https://github.com/decentralized-identity/JWS-Test-Suite/issues/52#issuecomment-1065375361

[2022-03-13 20:02] OR13 commented on #180
[code]

[2022-03-14 16:01] BenjaminMoe opened #183 "jwt representation has an empty `subject` property"
Cross link from: https://github.com/decentralized-identity/JWS-Test-Suite/issues/54

`"sub": {}`, is present in the decoded JWT, which causes it to be treated as invalid

[2022-03-16 15:37] #183 closed

[2022-03-16 15:37] OR13 commented on #123
I closed the other, it has less context.

[2022-03-20 20:32] OR13 opened #186 "Unable to install transmute/cli globally"
[code]

[2022-03-21 16:24] decentralgabe commented on #123
also https://github.com/decentralized-identity/JWS-Test-Suite/issues/54 is a dupe

[2022-04-08 02:46] OR13 opened #189 "Move PGP Package Here"
- add tests for npm

https://docs.npmjs.com/verifying-the-pgp-signature-for-a-package-from-the-npm-public-registry

https://stackoverflow.com/questions/10065564/add-custom-metadata-or-config-to-package-json-is-it-valid

[2022-06-15 18:59] acarnagey opened #195 "Unable to install @transmute/cli@latest"
ran the specified commands
[code]
Tried installing cli but I get this error:
[code]

[2022-06-20 01:08] lukasz8888 opened #196 "[packages: vc.js + bbs-bls12381-signature-2020] TypeError: Cannot read properties of undefined (reading 'replace')"
When you try to create a sign (verifiable) credential with `Bls12381G2KeyPair` / `BbsBlsSignature2020` (rather than `Ed25519VerificationKey2018` + `Ed25519Signature2018`) then it fails during verification process. I needed to use `BbsBlsSignature2020` in my case as it allows deriving proofs and do selective disclosure in general.

In `ProofSet.ts`, line 143 tries to do `const matchFound = s.type.r

[2022-06-20 01:16] lukasz8888 opened #197 "[packages: vs.js + bbs-bls12381-signature-2020] Error: internal error in Neon module: Given messages count (8) is different from revealed messages count (9) for this proof"
Even when I temporarily comment out some code in `ProofSet.ts` causing the issue mentioned in https://github.com/transmute-industries/verifiable-data/issues/196 I get another issue.

Steps to reproduce:

[code]

After running this code above this is what `result3` is:

[code]

I tried multiple times with different credentials and frames to extract a different set of fields.

I always end it with t

[2022-09-22 13:18] sacumesh opened #202 "Can't resolve '@transmute/credentials-context' in /node_modules/@transmute/ed25519-signature-2018/dist"
When I use the ed25519-signature-2018 I get the following error:
'@transmute/credentials-context' in '/Users/sachiththabandaranayake/Desktop/microrewards/micro-rewards-app/src/test-1/node_modules/@transmute/ed25519-signature-2018/dist'

The reason for this error is '@transmute/credentials-context' is listed as an devDependency but used as dependency in the '@transmute/ed25519-signature-2018' libra

[2022-09-23 15:47] yhuard commented on #172
Hi @OR13, related to this issue, do you plan to update mattrglobal/node-bbs-signatures to a more recent version?
v0.11.0 is the last version that doesn't offer binaries for Node.js 16 😢

[2022-09-23 17:30] OR13 commented on #172
yeah.... we plan to update that... there is some breaking WASM issue between versions... its in our backlog... if you are brave, I welcome a PR.

[2022-09-26 09:06] kalinchernev commented on #172
Hi @OR13 continuing on the discussion from last week I opened #204 updating the mentioned package.
Checking https://github.com/mattrglobal/node-bbs-signatures/blob/master/CHANGELOG.md there are no expected breaking changes.

The bump would be ok for node 14

[code]

Can confirm that node 16 is not ok though

[code]

Although the upgrade is ok for 14, the wasm error for 16 is still present as menti

[2022-09-26 14:34] OR13 commented on #172
I suspect this is caused by "bad data"... and that the test data will need to be updated for the new library version.

[2022-09-27 13:36] brownoxford opened #205 "did-web convertDidToEndpoint fails with included port"
If a port is included in the did:web DID provided to `convertDidToEndpoint`, the did fails to be resolved to an endpoint.

The [did-web spec provides the following guidance](https://w3c-ccg.github.io/did-method-web/#method-specific-identifier) regarding ports in did:web DIDs, but the regex in the function expects a colon separator.

[2022-10-20 18:42] ipbyrne opened #209 "`@transmute/json-web-signature` can't be used in browser without adding `Buffer` to the window object."
Currently, this package can not be used in the browser without adding the snippet below to a `create-react-app` project:

[code]

This is because our package uses `@peculiar/webcrypto` which is expecting it to exist when its run in a browser environment.

Need to refactor using: https://www.npmjs.com/package/jose

[2022-10-29 16:45] #205 closed

[2022-11-08 04:02] Nicolascoding27 opened #211 "'staticImplements' is not exported by node_modules/@transmute/ld-key-pair/dist/index.js"
Getting

[code]
When running
`npm run build` and `npm run start
`

[2022-11-08 04:25] BenjaminMoe commented on #211
Thanks for bringing this our attention. I created a ticket to track this.

[2022-11-09 04:48] BenjaminMoe commented on #211
@Nicolascoding27 which directory are you running these commands from? The root directory, or a specific package?

[2022-11-24 11:29] lleifermann opened #212 "Check if JWS Proof is an empty string before attempting to process it"
Code in question: https://github.com/transmute-industries/verifiable-data/blob/main/packages/jose-ld/src/JWS/createVerifier.ts#L3-L20

If the `verify` function in `createVerifer` is passed an empty string it passes the initial guard of

[code]

as an empty signature string `""` still possesses the split function. This is then passed to the JSON.parse function which explodes as a result.

[code]

I

[2022-11-24 11:30] lleifermann commented on #212
Another note: A more appropriate string check in TS would be `if (typeof signature !== 'string') {...}` i believe. Not sure if there's a reason behind the check on `signature.split`

[2022-11-28 13:21] #212 closed